/* Custom CSS styles */
body {
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.bg-navy {
  background-color: #002147 !important;
}

.text-white {
  color: #fff !important;
}

.text-navy {
  color: #002147 !important;
}

.bg-yellow {
  background-color: #FFD700 !important;
}

.header {
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  width: 200px;
}

.filters {
  margin-bottom: 20px;
}

.filters h2 {
  margin-bottom: 10px;
}

.content {
  padding: 20px;
}

.dataset-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.dataset-card h3 {
  margin-top: 0;
}

.dataset-card p {
  margin-bottom: 10px;
}

.form-check-label {
  display: block;
  margin-bottom: 10px; /* Add spacing between options */
}

.text-danger {
  color: red;
}

/* Additional spacing for configuration options */
.mb-3.config-option {
  margin-bottom: 20px;
}

.slider-container {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.slider {
  flex-shrink: 0;
  width: 100%;
  min-width: 100%;
  padding: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.box h4 {
  margin-top: 0;
}

.config-option {
  display: flex;
  justify-content: space-between;
}

.config-option .sub-options {
  margin-top: 10px;
}

.config-option .sub-options label {
  display: block;
  margin-bottom: 5px;
}
